*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

.header{
    width: 280px;
    text-align: center;
    font-size: small;
    color: #57495d;
}

.container{
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to bottom right, darkviolet , lightblue);
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 70px);
}

input{
    grid-column: span 4;
    height: 70px;
    width: 270px;
    background-color: #DEC8ED;
    box-shadow: inset -5px -5px 12px #ffffff
                inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 10px;
    color: rgb(70,70,70);
    font-size: 40px;
    font-weight: bolder;
    text-align: end;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

button{
    background-color: #CC99F9;
    height: 40px;
    width: 60px;
    box-shadow: -5px -5px 12px ffffff
                5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 8px;
    margin: 5px;
    font-size: 16px;
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#num{
    background-color: #DEC8ED;
    font-weight: bolder;
    font-size: larger;
}

.enter{
    width: 130px;
    border-radius: 10px;
    background-color: #AB46D2;
    color: white;
}